nav {
    background-color: #e62429;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.gallery {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


